body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;}    
.block{
    position: relative;
    width: 100%;
}
.block img{
    max-width: 100%;
}
.block-logo{
    position: absolute;
    left: 3rem;
    top: 2rem;
}
.block-nav{
    position: absolute;
    right: 0.5rem;
    top: 2rem;
    color: white;
}
.block-nav ul{
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
}
.block-nav ul li{
    padding: 1rem;
    font-size: 1rem;
}
.block-inferior{
    bottom: 10rem;
    left: 3rem;
    position: absolute;
    font-weight: bolder;
}
.block-inferior p{
    font-size: 3rem;
    margin: 2rem;
    color: white;
}
/*segunda parte*/
.nostros-titulo, .ventas-titulo{
 font-size: 2rem;
 text-align: center;
 padding: 2rem;
 font-weight: lighter;
}
.nosotros-grid{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}
.ventas{
    width: 75%;
    margin: 0 auto;
}
.ventas-grid{
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
}
.ventas-grid img{
    width: 100%;
}
.ventas-grid-2{
    display: grid;
    grid-template-columns: 10% 5% 10% 5% 10% 5%;
    justify-content: space-around;
    text-align: center;
    padding: 1rem;
}
.ventas-grid-2 img{
    width: 100%;
}
.ventas-grid-anuncio{
    border: 1px rgba(128, 128, 128, 0.295) solid;
    background-color: rgba(197, 197, 197, 0.13);
}
.venta-grid-anuncio-titulo{
    font-size: 1.5rem;
    text-align: start;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
}
.venta-grid-anuncio-descripcion{
text-align: start;
font-size: 0.9rem;
margin: 0em;
}
.venta-grid-anuncio-precio{
    text-align: start;
    margin: 0;
    color: rgb(132, 180, 36);
    font-weight: bolder;}
.ventas-boton{
    width: 100%;
    text-align: center;
    padding: 0.8rem  0rem;
    border-radius: 0;
    border:none;
    color: white;
    background-color: rgb(231, 151, 3);
    font-weight: bolder;
}
.ventas-grid-inf{
    padding: 0.8rem;
}
.ver{
text-align: end;
width: 97.5%;
margin: 0 auto;
}
.ver button{
    margin: 1rem 0px;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: none;
    color: white;
    background-color: rgb(132, 180, 36);
    font-weight: bolder;}
/*pre footer*/
.block-encuentra img{
    max-width: 100%;
}
.block-encuentra{
    position: relative;
}
.block-encuentra p, .block-encuentra button{
    position: absolute;
    margin: 0;
    padding: 0;
}
p.block-encuentra-texto-titulo {
    font-weight: bolder;
    top:30%;
    left: 14%;
    color: white;
    font-size: 2rem;
}
.block-encuentra-texto-txt{
    top:50%;
    left: 14%;
    color: white;
    font-size: 1rem;
}
.block-encuentra button{
    top:65%;
    left: 14%;
    color: white;
    background-color: rgb(231, 151, 3);
    border: none;
    border-radius: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bolder;
}
/*footer*/
footer{
    background-color: rgb(41, 37, 37);
    margin-top: -11px;
    color: white;
    padding-top: 1rem;
}
.footer-grid{
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
}
footer ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 7rem;
}
footer ul li{
    padding: 1rem;
    padding-bottom: 0.5rem;
}